<p-dialog  [modal]="true" [(visible)]="isVisible" header="City" >
<section>
  <p>Choose country , city/state you want to get the weather in</p>
  <br>
  <form [formGroup]="input" (ngSubmit)="submit()">

    @if (countries.length !=0) {
      <select formControlName="country">
        <option value="" selected>Country</option>
       @for (c of countries; track $index)
       {
          <option [value]="c">{{c}}</option>
       }
      </select>

      <input type="text" name="city" placeholder="City" formControlName="city"/>
    }
    <br/>
      <p class="submit-button"><input type="submit" name="submit" value="submit" /></p>

  </form>
</section>
</p-dialog>
