<section>
  <p>Choose the continent, country , city/state you want to get the weather in</p>
  <br>
  <select (change)="onChooseContinent($event)">
    <option value="">Continent </option>
    <option value="Africa">Africa</option>
    <option value="Asia">Asia</option>
    <option value="Australia">Australia</option>
    <option value="Europe">Europe</option>
    <option value="North America">North America</option>
    <option value="South America">South America</option>
  </select>

  <select>
    <option *ngFor="let c of countries" > {{c}}</option>
  </select>
</section>
