.container
{
  background-color: #2ECCF0;
  height: 100%;
  min-height: 100vh;
}
main
{
  color:white;
  min-height: 100vh;
}

.card, .main-card
{
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  padding: 4px;
  font-size: 2rem;
}

input[type=button]
{
  border: none;
  background-color: rgb(255, 255, 255);
  color: #2ECCF0;
  padding: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4px;
}


.main-card
{
  text-align: center;

}

.pi
{
  font-size: 2rem;
}

.temp
{
  font-size: 7rem;
}

img
{
  height: 6rem;
  width: 6rem;
}
