/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-icon {
  margin:5px
}

.p-toast .p-toast-message .p-toast-message-content
{
  padding: 0.5rem;
}

body
{
  background-color: #2ECCF0;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  html
  {
    font-size:16px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  html
  {
    font-size:12px;
  }
}

@media only screen and (max-width: 767px) {
  html
  {
    font-size:10px;
  }
}

input[type=button]:hover, input[type=submit]:hover
{
  cursor: pointer;
}
