main
{
  background-image: linear-gradient(#0976c4, #04b7df) ;
  height: 100%;
  width: 100%;
  color:White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
p
{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

input[type=button]
{
  border: none;
  background-color: rgb(255, 255, 255);
  color: #04b7df;
  padding: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4px;
}

input[type=button]:hover
{
  cursor: pointer;
}

